[Unit]
Description=Home Assistant
After=network-online.target

[Service]
Type=simple
User=$HASS_OWNER
Group=$HASS_GROUP
ExecStart=$DIR/venv/bin/hass -c $DIR/config

[Install]
WantedBy=multi-user.target

